.container {
    margin-top: 120px;
}

.facto {
    border-radius: 5px;
    width: 30%;
    justify-self: center;
    align-self: center;
    margin: auto;
}


.factman {
    background-color: rgb(3, 3, 33);
    color: rgb(0, 255, 17);
    font-family: sans-serif;
    width: 30vw;
    padding: 30px;
    margin-top: 30px;
    border-radius: 4px;
}

.span {
    padding: 15px;
    margin-bottom: 60px;
    font-family: sans-serif;
    background-color: rgb(229, 230, 237);
    box-shadow: 0px 5px 5px rgba(225,225,225,0.7);
    margin-bottom: 50px;
}